@model SistemaContas.Presentation.Models.AccountPasswordRecoverViewModel;

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h4 class="mb-2 ">Recuperar conta de usuário</h4>
                        <p>Preencha seu email de cadastro.</p>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group mb-2">
                            <label for="Email">E-mail:</label>
                            @Html.TextBoxFor(model => model.Email, new {@class = "form-control",@placeholder="Digite seu email"})
                            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
                        </div>
                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>

                        <div class="d-grid mb-2">
                            <a href="/Account/Login" class="btn btn-light">
                                Lembrou do seu cadastro? <strong>Acesse aqui</strong>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
